@model List<CategoryCount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].CategoryName)
        </th>
        <th>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.DisplayName("Questions Left")
            }
            else
            {
                @Html.DisplayName("Number of questions")
            }

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionCount)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Start Quiz", "ShowQuiz", "Quiz", new { nameCategory = item.CategoryName }, null)
                </td>
            }

        </tr>
    }

</table>


@if (!User.Identity.IsAuthenticated)
{
    <h2>
        @Html.ActionLink("Register Now!", "Register", "Login")
    </h2>
}
else
{
    <p>
        @Html.ActionLink("Add Question", "AddQuestion", "Quiz")
    </p>
    <p>
        @Html.ActionLink("Add Category", "AddCategory", "Quiz")
    </p>
    <p>
        @Html.ActionLink("Logout", "Logout", "Login")
    </p>
}